<div class="container">
  <div class="row mt-5">
    <div class="col">
      <h4>管理者ログイン</h4>
    </div>
  </div>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="row mt-3">
    <div class="col-lg-8 mx-auto">
      <table class="table table-borderless">
        <tr>
          <th><%= f.label :email, "メールアドレス" %></th>
          <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
        </tr>
        <tr>
          <th><%= f.label :password, "パスワード" %></th>
          <td><%= f.password_field :password, autocomplete: "current-password" %></td>
        </tr>
        <% if devise_mapping.rememberable? %>
        <tr>
          <th></th>
          <td>
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </td>
        </tr>
        <% end %>
        <tr>
          <th></th>
          <td><%= f.submit "ログイン", class: "btn btn-success" %></td>
        </tr>
      </table>
    </div>
  </div>
  <% end %>
</div>


