<div class="container mt-3">
  <div class="row">
    <div class="col">
      <h4><%= @customer.name %>さんの会員詳細</h4>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-lg-8 mx-auto">
      <table class="table table-borderless">
        <tr>
          <th>会員ID</th>
          <td><%= @customer.id %></td>
        </tr>
        <tr>
          <th>氏名</th>
          <td><%= @customer.name %></td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td><%= @customer.email %></td>
        </tr>
        <tr>
          <th>会員ステータス</th>
          <td>
            <% if @customer.is_deleted == false %>
                 <h6 class="text-success">有効</h6>
            <% else %>
                <h6 class="text-danger">退会</h6>
            <% end %>
          </td>
        </tr>
        <% @reports.each do |reports| %>
        <tr>
          <th></th>
          <td><%= l reports.created_at %></td>
          <td><%= link_to reports.introduction, admin_report_path(reports.id), target: :_blank, rel: "noopener noreferrer" %></td>
        </tr>
        <% end %>
        <tr>
          <th></th>
          <td><%= link_to "会員情報編集", edit_admin_customer_path(@customer.id), class: 'btn btn-success' %></td>
        </tr>
      </table>
    </div>
  </div>

</div>