<div class="container mt-5 mb-5">
  <div class="row">
    <div id='map'></div>

    <style>
    #map {
      height: 600px;
      width: 100%;
    }
    </style>

    <!-- js部分 -->
    <script>
        function initMap() {

          //初期表示位置
          let latlng = new google.maps.LatLng(37.75018705080174, 140.46817158276042);
          //デザイン
          let styles = [
               {
                stylers: [
                 { "saturation": 0 },
                 { "lightness": 0 }
                ]
               }
              ];

          let map = new google.maps.Map(document.getElementById('map'), {
              zoom: 10,
              styles: styles,
              center: latlng
          });
          let transitLayer = new google.maps.TransitLayer();
          transitLayer.setMap(map);

    //複数マーカー ここから
          <% @reports.each do |reports|%>
            ( function() {
              let markerLatLng = { lat: <%= reports.lat %>, lng: <%= reports.lng %> }; // 緯度経度のデータ作成
              let marker = new google.maps.Marker({
                position: markerLatLng,
                map: map
              });
    //マーカーをクリックしたとき、詳細情報を表示
              let infowindow = new google.maps.InfoWindow({
                position: markerLatLng,
                content: "<a href='<%= report_path(reports.id) %>' target='_blank'><%= reports.introduction %></a>"
              }); //ここで詳細ページへのリンクを表示させる
              marker.addListener('click', function() {
                infowindow.open(map, marker);
              });

           })();
          <% end %>
          //複数マーカー ここまで
      }
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>&callback=initMap" async defer></script>
  </div>

  <%= form_tag reports_path, method: :get, class: 'boards__searchForm' do %>
    <div class="row">
      <% @tags.each do |tag| %>
        <div class="tag-box m-3">
          <%= link_to tag.name, admin_root_path(name: tag.id), class: 'btn btn-secondary' %>
        </div>
      <% end %>
        <div class="tag-box m-3">
          <%= link_to "全ての投稿", admin_root_path, class: 'btn btn-secondary' %>
        </div>
    </div>

    <div class="row">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>投稿者</th>
            <th>投稿日時</th>
            <th>内容</th>
            <th>タグ</th>
            <th>対応状況</th>
          </tr>
        </thead>
        <% @reports.each do |reports| %>
        <tbody>
          <tr>
            <td><%= reports.customer.name %></td>
            <td><%= l reports.created_at %></td>
            <td><%= link_to reports.introduction, admin_report_path(reports.id), target: :_blank, rel: "noopener noreferrer" %></td>
            <% reports.tags.each do |tag| %>
              <td><%= tag.name %></td>
            <% end %>
            <td>
              <% if reports.is_finished == false %>
                <h6 class="text-danger">未対応</h6>
              <% else %>
                <h6 class="text-success">この案件は対応済です</h6>
              <% end %>
            </td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  <% end %>
  <div class="row">
    <div class="col text-right">
      <%= link_to "未対応一覧", admin_unfinished_path, class: 'btn btn-danger' %>
    </div>
  </div>
</div>