<div class="container">
  <div class="row mt-5">
    <div class="col">
      <h4>新規登録</h4>
    </div>
  </div>
  <%= form_with model: @customer, url: customer_registration_path, method: :post do |f| %>
    <%= render "public/shared/error_messages", resource: resource %>
  <div class="row mt-3">
    <div class="col-lg-8 mx-auto">
      <table class="table table-borderless">
        <tr>
          <th><%= f.label :name, "名前" %></th>
          <td><%= f.text_field :name %></td>
        </tr>
        <tr>
          <th><%= f.label :email, "メールアドレス" %></th>
          <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
        </tr>
        <tr>
          <th>
            <%= f.label :password, "パスワード" %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %>文字以上)</em>
            <% end %>
          </th>
          <td><%= f.password_field :password, autocomplete: "new-password" %></td>
        </tr>
        <tr>
          <th><%= f.label :password_confirmation, "パスワード(確認用)" %></th>
          <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
        </tr>
        <tr>
          <th></th>
          <td><%= f.submit "新規登録", class: "btn btn-success" %></td>
        </tr>
        <tr>
          <th></th>
          <td><%= link_to "既に登録済みの方はこちらからログインしてください", new_customer_session_path %></td>
        </tr>
      </table>
    </div>
  </div>
  <% end %>
</div>
