<div class="container mt-3">

  <div class="row">
    <div class="col-lg-6">
      <h5><%= link_to "この投稿を削除する", admin_report_path(@report.id), method: :delete, "data-confirm" => "本当に削除しますか？" %></h5>
    </div>
  </div>

  <!--共通テンプレート-->
  <%= render 'public/reports/show', report: @report %>
  <!--ここまで-->

  <div>
    <div class="row mt-3">
      <div class="col-lg-10">
        <h5>コメント一覧</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <table class="table table-borderless">
          <thead>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </thead>
          <% @comments.each do |comment| %>
          <tbody>
            <td><%= l comment.created_at %></td>
            <td><%= comment.comment %></td>
            <td><%= comment.customer.name %></td>
            <td><%=link_to "削除", admin_report_comment_path(comment.report.id, comment.id), method: :delete %></td>
          </tbody>
          <% end %>
        </table>
      </div>
    </div>
  </div>


  <%= form_with model: @report, url: admin_report_path, method: :patch do |f| %>
  <div class="row">
    <div class="col-lg-4 mx-auto border">
      <table class="table table-borderless">
        <tr>
          <th class="text-center"><label for="status">対応ステータス</label></th>
          <td class="text-center">
            <%= f.radio_button :status, 0, checked: "checked" %>
            <%= f.label :status, "未対応" %>
            <%= f.radio_button :status, 1 %>
            <%= f.label :status, "対応済" %>
          </td>
        </tr>
        <tr>
          <th></th>
          <td class="text-center"><%= f.submit "変更を保存", class: 'btn btn-success' %></td>
        </tr>
      </table>
    </div>
  </div>
  <% end %>
</div>