  <div class="row">
    <div class="col-lg-6">
      <h3>
        投稿詳細
        <% if report.is_finished == false %>
          <span class="text-danger">（未対応）</span>
        <% else %>
          <span class="text-success">（この案件は対応済です）</span>
        <% end %>
      </h3>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-5 text-left m-3">
      <%= image_tag report.get_image, size: "400x300" %>
    </div>

    <div class="col-lg-5 text-left m-3">
      <div id='map'></div>

      <style>
      #map {
        height: 300px;
        width: 100%;
      }
      </style>

      <!-- js部分 -->
      <script>
      //初期マップの設定
      let map
      let marker
      function initMap(){
        geocoder = new google.maps.Geocoder()

        map = new google.maps.Map(document.getElementById('map'), {
          center:  {lat: <%= report.lat %>, lng: <%= report.lng %>},
          zoom: 15,
        });

         marker = new google.maps.Marker({
          position:  {lat: <%= report.lat %>, lng: <%= report.lng %>},
          map: map
        });
      }
      </script>
      <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>&callback=initMap" async defer></script>
    </div>

  </div>

  <div class="row">
    <div class="col-lg-10 mx-auto">
      <table class="table my-5">
        <thead>
          <tr>
            <th>投稿者</th>
            <th>投稿日時</th>
            <th>内容説明</th>
            <th>タグ</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= report.customer.name %></td>
            <td><%= l report.created_at %></td>
            <td><%= report.introduction %></td>
            <td>
              <% report.tags.each do |tag| %>
                <%= tag.name %>
              <% end %>
            </td>
            <% if @report.customer == current_customer %>
            <td>
              <%= link_to "編集する", edit_report_path(@report), data: {"turbolinks" => false}, class: "text-success" %>
            </td>
            <td>
              <%= link_to "削除する", report_path(@report), class: "text-danger", method: :delete, "data-confirm" => "本当に削除しますか？" %>
            </td>
          <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
