<div class="container mt-5 mb-5">

  <!--共通テンプレート-->
  <%= render 'index', reports: @reports, link: @link %>
  <!--ここまで-->

  <%= form_tag reports_path, method: :get, class: 'boards__searchForm' do %>
    <div class="row">
      <% @tags.each do |tag| %>
        <div class="tag-box m-3">
          <%= link_to tag.name, reports_path(name: tag.id), class: 'btn btn-secondary' %>
        </div>
      <% end %>
        <div class="tag-box m-3">
          <%= link_to "全ての投稿", reports_path, class: 'btn btn-secondary' %>
        </div>
    </div>

    <div class="row">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>投稿者</th>
            <th>投稿日時</th>
            <th>内容説明</th>
            <th>タグ</th>
            <th>対応状況</th>
          </tr>
        </thead>
        <% @reports.each do |reports| %>
        <tbody>
          <tr>
            <td><%= reports.customer.name %></td>
            <td><%= l reports.created_at %></td>
            <td><%= link_to reports.introduction, report_path(reports.id), rel: "noopener noreferrer" %></td>
            <% reports.tags.each do |tag| %>
              <td><%= tag.name %></td>
            <% end %>
            <td>
              <% if reports.is_finished == false %>
                <h6 class="text-danger">未対応</h6>
              <% else %>
                <h6 class="text-success">この案件は対応済です</h6>
              <% end %>
            </td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  <% end %>
</div>