<div class="container mt-3">
  <h1>新規登録</h1>

  <%= form_with model: @report, url: reports_path, method: :post do |f| %>
  <table class="table table-borderless">
    <tr>
      <th><%= f.label :image, "写真" %></th>
      <td><%= f.file_field :image, accept: "image/*" %></td>
    </tr>
    <tr>
      <th><%= f.label :introduction, "内容説明" %></th>
      <td><%= f.text_area :introduction %></td>
    </tr>
    <tr>
      <th><%= f.label :lat,"緯度" %></th>
      <td><%= f.text_field :lat,:value =>"緯度", id: :lat %></td>
    </tr>
    <tr>
      <th><%= f.label :lng,"経度" %></th>
      <td><%= f.text_field :lng,:value =>"経度", id: :lng %></td>
    </tr>
  </table>
  
  <div class="check_box">
    <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
      <div class='form-check'>
     　 <%= tag.label do %>
      　  <%= tag.check_box %>
      　  <%= tag.text %>
      　<% end %>
      </div>
    <% end %>
  </div>


  <div class="row m-2 pt-4">
    <div class="actions col-lg text-left">
      <%= f.submit '新規登録', class: 'btn btn-success' %>
    </div>
  </div>
  <% end %>


  <h2>gmap</h2>
  
  <input id="address" type="textbox" value="福島県庁">
  <input type="button" value="検索" onclick="codeAddress()">
  <p>マーカーをドラック＆ドロップで位置の調整ができます。<p>
  <div id='map'></div>

  <style>
  #map {
    height: 600px;
    width: 600px;
  }
  </style>

  <script>
  let map
  let marker

  function initMap(){
    geocoder = new google.maps.Geocoder()

    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 37.75023773521393, lng:140.46825315394926},
      zoom: 12,
    });

    // marker = new google.maps.Marker({
      // position:  {lat: 37.75023773521393, lng:140.46825315394926},
      // map: map
    // });
  }
  
  //検索後のマップ作成
  let geocoder
  let aft
  function codeAddress(){
    let inputAddress = document.getElementById('address').value;
    geocoder.geocode( { 'address': inputAddress}, function(results, status) {
      if (status == 'OK') {
          //マーカーが複数できないようにする
          if (aft == true){
              marker.setMap(null);
          }
  
          //新しくマーカーを作成する
          map.setCenter(results[0].geometry.location);
              marker = new google.maps.Marker({
              map: map,
              position: results[0].geometry.location,
              draggable: true	// ドラッグ可能にする
          });
  
          //二度目以降か判断
          aft = true
  
          //検索した時に緯度経度を入力する
          document.getElementById('lat').value = results[0].geometry.location.lat();
          document.getElementById('lng').value = results[0].geometry.location.lng();
  
          // マーカーのドロップ（ドラッグ終了）時のイベント
          google.maps.event.addListener( marker, 'dragend', function(ev){
              // イベントの引数evの、プロパティ.latLngが緯度経度
              document.getElementById('lat').value = ev.latLng.lat();
              document.getElementById('lng').value = ev.latLng.lng();
          });
      } else {
        alert('該当する結果がありませんでした：' + status);
      }
    });   
  }

  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>&callback=initMap" async defer></script>

</div>
