<!DOCTYPE html>
<html>
  <head>
    <title>DangerReport</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/1f27aa4067.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text&family=Philosopher&family=Raleway:ital,wght@0,400;1,900&display=swap" rel="stylesheet">
  </head>

  <body>
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-xl navbar-light">
        <div class="container-fluid" >
        <% if admin_signed_in? %>
          <h1 class="logo px-3">
            <%= link_to "Danger Report", admin_root_path, class: 'nav-link text-dark' %>
          </h1>
        <% else %>
          <h1 class="logo px-3">
            <%= link_to "Danger Report", root_path, class: 'nav-link text-dark' %>
          </h1>
        <% end %>
          <% if customer_signed_in? %>
          <div class="ml-3">
            <h6>ようこそ、<%= current_customer.name %>さん！</h6>
          </div>
          <% end %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse flex-column" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
            <% if admin_signed_in? %>
              <li class="nav-item  m-3">
                <%= link_to "投稿一覧", admin_root_path, data: {"turbolinks" => false}, class: "fas fa-list-alt nav-link" %>
              </li>
              <li class="nav-item  m-3">
                <%= link_to "会員一覧", admin_customers_path, class: "fas fa-users nav-link" %>
              </li>
              <li class="nav-item  m-3">
                <%= link_to "タグ一覧", new_admin_tag_path, class: "fas fa-tags nav-link" %>
              </li>
              <li class="nav-item  m-3">
                <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "fas fa-sign-out-alt nav-link" %>
              </li>
            <% elsif customer_signed_in? %>
              <li class="nav-item m-3 ">
                <%= link_to "マイページ", customers_my_page_path, class: "fas fa-house-user nav-link" %>
              </li>
              <li class="nav-item  m-3">
                <%= link_to "新規投稿", new_report_path, data: {"turbolinks" => false}, class: "fas fa-paper-plane nav-link" %>
              </li>
              <li class="nav-item  m-3">
                <%= link_to "投稿一覧", reports_path, data: {"turbolinks" => false}, class: "fas fa-list-alt nav-link" %>
              </li>
              <% if unchecked_notifications.any? %>
                <li class="nav-item  m-3"><%= link_to "通知",notifications_path, class: "fas fa-bell nav-link",style: "color:tomato;" %></li>
              <% else %>
                <li class="nav-item  m-3"><%= link_to "通知",notifications_path, class: "fas fa-check nav-link"%></li>
              <% end %>
              <li class="nav-item  m-3">
                <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "fas fa-sign-out-alt nav-link" %>
              </li>
            <% else %>
              <li class="nav-item  m-3">
                <%= link_to "新規登録", new_customer_registration_path, class: 'fas fa-user-plus nav-link' %>
              </li>
              <li class="nav-item  m-3">
                <%= link_to "ログイン", new_customer_session_path, class: "fas fa-sign-in-alt nav-link" %>
              </li>
              <li class="nav-item  m-3">
                <%= link_to 'ゲストログイン', customers_guest_sign_in_path, method: :post, class: "fas fa-sign-in-alt nav-link" %>
              </li>
              <li class="nav-item  m-3">
                <%= link_to "管理者ログイン", new_admin_session_path, class: "fas fa-sign-in-alt nav-link" %>
              </li>
            <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <% flash.each do |message_type, message| %>
        <div class="flash-message <%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
